*{
    font-family: sans-serif;
    border-radius: 15px;
}

.heading{
   background-color: pink;
    color:purple;
    font-family: Arial, sans-serif;
    border-style: solid;
    border: 5px solid lightblue;
    padding: 20px;
    margin: 30px;
}

.main-image{
    border: 10px solid plum;
    margin: 30px;
}

ul{
    color:aliceblue;
    border: 7px solid palevioletred;
    margin: 20px;
    padding: 20px;
    list-style-type: none;
    background-color: blueviolet;
}