*{
    font-family: sans-serif;
}

.heading{
   background-color: pink;
    color:purple;
    font-family: Arial, sans-serif;
    border-style: solid;
    border: 5px solid lightblue;
}

.main-image{
    border: 10px solid plum;
}

ul{
    background
}