*{
    font-family: sans-serif;
   
}

.heading{
   background-color: pink;
    color:purple;
    font-family: Arial, sans-serif;
    border-style: solid;
    border: 5px solid lightblue;
    padding: 20px;
    margin: 30px;
}

.main-image{
    border: 10px solid plum;
    margin: 30px;
}

ul{
    margin: 20px;
}